html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

img {
	width:100%;
}

body {
	margin: 0em;
	font-family: 'Noto Sans', sans-serif;
}

header {
	background-color: #e7001d;
	position: relative;
	text-align: center;
	padding: 20px;
}

header img {
	width: 125px;
	margin: auto;
}

header h1 {
	color: white;
	top: 115px;
	right: 2px;
	width: 100%;
	position: absolute;
	font-weight: 700;
	position: absolute;
	margin: 0em;
	font-size: 1em;
	text-shadow: #222 2px 2px 3px
}

.header-symbols {
	color: white;
	right: 2px;
	top: 25px;
	width: 100%;
	margin: 0em;
	position: absolute;
	font-weight: 700;
	font-size: 4em;
	text-shadow: #222 2px 2px 3px
}

nav {
	background-color: #222222;
	color: white;
}

nav ol {
	list-style-type: none;
	margin: 0em;
	padding: 0.5em;
}

nav li{
	display: inline-block;
	width: 50%;
	margin: 0.7em 0em;
}






h2 {
	text-align: center;
	font-size: 1.5em;
	padding-top: 1.5em;
}

.dragon-div {
	background-color: #e4c22a;
	color: black;
	margin: 0em;
}

.goat-div {
	background-color: #222222;
	color: white;
	margin: 0em;
}

.rooster-div {
	background-color: #e7001d;
	color: white;
	margin: 0em;
}

.ox-div {
	background-color: #e4c22a;
	color: black;
	margin: 0em;
}




footer {
	background-color: #222222;
	color: white;
	text-decoration: underline;
	padding: 1em;
	margin: 0em;
	text-align: center;
}
