html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

img {
	width:100%;
}

body {
	margin: 0em;
	font-family: 'Noto Sans', sans-serif;
}

header {
	background-color: #e7001d;
	color: white;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	padding-top: 1.5em;
}


.dragon-div {
	background-color: #e4c22a;
	color: black;
}

.goat-div {
	background-color: #222222;
	color: white;
}

.rooster-div {
	background-color: #e7001d;
	color: black;
}

.ox-div {
	background-color: #e4c22a;
	color: black;
}




footer {
	background-color: #222222;
	padding: 1em;
	text-align: center;
}
