html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

img {
	width:100%;
}

body {
	margin: 0em;
	font-family: 'Noto Sans', sans-serif;
}

header {
	background-color: #e7001d;
	position: relative;
	text-align: center;
	padding: 20px;
}

header img {
	width: 125px;
	margin: auto;
}

header h1 {
	color: white;
	top: 115px;
	right: 2px;
	width: 100%;
	position: absolute;
	font-weight: 700;
	position: absolute;
	margin: 0em;
	font-size: 1em;
	text-shadow: #222 2px 2px 3px
}

.header-symbols {
	color: white;
	right: 2px;
	top: 25px;
	width: 100%;
	margin: 0em;
	position: absolute;
	font-weight: 700;
	font-size: 4em;
	text-shadow: #222 2px 2px 3px
}

.left {
	float: left;
}

.right {
	clear: left;
}

nav {
	background-color: #222222;
	margin: 0em;
}

nav ol {
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

nav li{
	display: inline-block;
	border: 1px solid black;
	padding: 0.5em 0.6em;
	width: 50%;
	margin: 0em;
}

.shengxiao {
	padding: 0em;
}

.shengxiao p {
	padding: 0em 0.5em;
}

.shengxiao img {
	width: 100%;
	padding: 0em;
}

.shengxiao-title {
	color: white;
	text-shadow: #222 2px 2px 3px;
	font-size: 2em;
	margin: 0em;
	width: 100%;
	padding: 0em;
	top: 550px;
	text-align: center;
	position: absolute;
	font-style: italic;
}




h2 {
	text-align: center;
	font-size: 1.5em;
}

.dragon-div {
	background-color: #e4c22a;
	color: black;
	margin: 0em;
	text-align: center;
	font-style: italic;
	padding: 0.5em;
}

.goat-div {
	background-color: #222222;
	color: white;
	margin: 0em;
	text-align: center;
	font-style: italic;
	padding: 0.5em;
}

.rooster-div {
	background-color: #e7001d;
	color: white;
	margin: 0em;
	text-align: center;
	font-style: italic;
	padding: 0.5em;
}

.ox-div {
	background-color: #e4c22a;
	color: black;
	margin: 0em;
	text-align: center;
	font-style: italic;
	padding: 0.5em;
}



div img {
	width: 140px;
	display: inline-block;
}

.images {
	width: 50%;
}




footer {
	background-color: #222222;
	color: white;
	text-decoration: underline;
	padding: 1em;
	margin: 0em;
	text-align: center;
}
